/* EBGaramond font */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

/* rubik font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

/* zalando sans expanded font */
/* zalando sans expanded font with multiple weights */
@import url("https://fonts.googleapis.com/css2?family=Zalando+Sans+Expanded:wght@200;300;400;500;600;700;800;900&display=swap");

@import "tailwindcss";

@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-denary: #08090a;
  --color-senary: #1db954;
  --color-quinary: #e50000;

  /* s means shade, use this to create different shades of one color e.g greys1 is shade 1 of grey, they have no direct relation with each other, its just a way to group colors and a naming convention */
  --color-greys1: #5d5d5d;
  --color-greys2: #b1b1b1;
  --color-greys3: #111117;
  --color-greys4: #6b6b6b;

  --font-eb-garamond: "EB Garamond", serif;
  --font-inter: "Inter", sans-serif;
  --font-rubik: "Rubik", sans-serif;
  --font-zalando: "Zalando Sans Expanded", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
}

@layer utilities {
  .padding-x {
    @apply px-6 md:px-10 lg:px-16;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-360px * 6));
    }
  }

  @keyframes scroll-reverse {
    0% {
      transform: translateX(calc(-360px * 6));
    }
    100% {
      transform: translateX(0);
    }
  }

  .animate-scroll {
    display: flex;
    animation: scrolltns 10s linear infinite;
  }

  .slide-track {
    display: flex;
    width: calc(360px * 12);
    animation: scroll 60s linear infinite;
  }

  .slide-track-reverse {
    display: flex;
    width: calc(360px * 12);
    animation: scroll-reverse 60s linear infinite;
  }

  .no-scrollbar {
    /* Works for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
      display: none;
    }
    /* Works for Firefox */
    scrollbar-width: none;
    -ms-overflow-style: none; /* IE and Edge */
  }

  .cus-scrollbar {
    /* Webkit browsers */
    &::-webkit-scrollbar {
      width: 8px;
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: #22242a;
      border-radius: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    /* Firefox */
    scrollbar-width: thin;
    scrollbar-color: #22242a transparent;
  }
}
